@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-ExtraLight.ttf") format("truetype"); /*TTf significa truetype*/
    font-weight: 100;
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype"); /*TTf significa truetype*/
    font-weight: 400;
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-ExtraBold.ttf") format("truetype"); /*TTf significa truetype*/
    font-weight: 700;
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Bold.ttf") format("truetype"); /*TTf significa truetype*/
    font-weight: 500;
}

@font-face {
    font-family: "montserrat";
    src: url("fonts/Montserrat-Black.ttf") format("truetype"); /*TTf significa truetype*/
    font-weight: 900;
}
